<div class="main-container">
  <div class="background-section">
    <img src="https://lh3.googleusercontent.com/p/AF1QipM8B8CU8nR_-QFGYX2Y0ZZ67hemtlsSmj2g30e5=s1360-w1360-h1020" alt="Background Image" class="bg-image">
    <div class="glass-card">
      <h2>Welcome to ENI Carthage</h2>
      <p>Empowering the Future of Education</p>
    </div>
  </div>
  <div class="form-section">
    <div class="form-container">
      <div class="tab-buttons">
        <button [ngClass]="{'active': !showSignup}" (click)="showSignup = false">Sign In</button>
        <button [ngClass]="{'active': showSignup}" (click)="showSignup = true">Sign Up</button>
      </div>
      <div class="form-wrapper">
        <div class="form-panel" [ngClass]="{'show-login': !showSignup, 'show-signup': showSignup}">
          <div class="form-content">
            <app-login *ngIf="!showSignup"></app-login>
            <app-signup *ngIf="showSignup"></app-signup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>