<div class="container">
  <h2>Configuration d’affichage des absences et rattrapages imminents (Accueil), l’emploi du temps et les notifications reçues</h2>
  
  <div class="form">
    <div class="form-group">
      <label for="classe">Classe</label>
      <select id="classe" [(ngModel)]="selectedClass" name="classe" (ngModelChange)="fetchSpecialites()">
        <option value="" disabled>Sélectionner une classe</option>
        <option *ngFor="let c of classes" [value]="c">{{ c }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="specialite">Spécialité</label>
      <select id="specialite" [(ngModel)]="selectedSpec" name="specialite" (ngModelChange)="fetchGroupes()" [disabled]="!selectedClass">
        <option value="" disabled>Sélectionner une spécialité</option>
        <option *ngFor="let s of specialites" [value]="s">{{ s }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="groupe">Groupe</label>
      <select id="groupe" [(ngModel)]="selectedGroup" name="groupe" [disabled]="!selectedClass || !selectedSpec">
        <option value="" disabled>Sélectionner un groupe</option>
        <option *ngFor="let g of groupes" [value]="g">{{ g }}</option>
      </select>
    </div>

    <button class="animated-button" (click)="saveSettings()">
      <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
      <span class="text">Enregistrer</span>
      <span class="circle"></span>
      <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
    </button>

    <p class="message" [ngClass]="{'success': updateMessage.includes('succès'), 'error': !updateMessage.includes('succès') && updateMessage}">
      {{ updateMessage }}
    </p>
  </div>
</div>